# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

#claude
.claude/
.DS_Store
settings.local.json

# next.js
/.next/
/out/

#claude
.mcp.json

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env
.env.local
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#prisma
/lib/generated
/db_backup
/db_backups
/db_scripts


# skills
.agents/
.cursor/ 

